.nav-item
{
    transition: background-color 5s;
 
  &:hover {
    background-color: blueviolet;
}

}

.animate__animated.animate__flipInX {
  --animate-duration: 2s;
  animation-iteration-count: infinite;
}