.btn {
    background-color: lightpink;

}

h4 {
    font-family: "Dancing script";
    font-size: 30px;
    padding-top: 100px;

}

.form {
    padding-top: 100px;
    background-color: lightgray;

}