.container-fluid-header {

    background-color: rgb(218, 197, 224);
}


ul {
    list-style: none;

    li {
        padding: 15px;
        display: inline-block;

        a {
            text-decoration: none;
            font-size: 16px;
            // color: #444;
        }
    }
}


img{
    border-radius: 6% 6% 6% 6%;
    aspect-ratio: 1/1;
    object-fit: contain;
  

}


h1 {
   font-family: "Dancing script";
   font-size: 60px;

}
h2 {
    font-family: "Dancing script";
    font-size: 40px;
 
 }

 p {
    font-size: 20px;
 
 }

 @media (max-width: 758px) {
    .nombre.col-2 {
      font-size: 20px; /* Tamaño de fuente para pantallas más pequeñas */
    }
 
  }
  @media (max-width: 1287px){
    .nombre.col-2 {
      font-size: 40px; /* Tamaño de fuente para pantallas más pequeñas */
    }
   
  }
  @media (max-width: 1030px){
    .nombre.col-2 {
      font-size: 25px; /* Tamaño de fuente para pantallas más pequeñas */
   

   }
  }
