.contenido-uno {
    background-color: rgb(230, 228, 228);
}

.parrafo {
    margin-top: 50px;
}

// .container-fluid-main
// {
//     margin:5px;
// }

.card {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
    height: 800px;
   
}
.logo-inicial{
    width: 200px;
    height: 200px;
}

.container-fluid-main{
    background-color: whitesmoke;
}

.su-foto {
    padding-top: 50px;
}

.foto-presentacion {

   width: 400px;
   height: 400px;
}
